body {
  font-family: Arial, sans-serif;
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: monospace;
}

table tr td:last-child {
  text-align: right;
}

th,
td {
  text-align: left;
  padding: 5px 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}


#bitesTable th {
  background-color: #56c1fe;
}

#specialTable th {
  background-color: #f27100;
}

#justCatTable th {
  background-color: #bdc0bf;
}

#onlyDogTable th {
  background-color: #ff94ca;
}

#premiumCatTable th {
  background-color: #ff968c;
}

h3 {
  margin-bottom: 2px;
}

.align-right {
  text-align: right;
}

small {
  color: #777;
}